html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: auto;
    background-color: #1f2937;
    margin: -8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 256px;
    margin-right: 256px;
    margin-top: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-left: 256px;
    margin-right: 256px;
    margin-bottom: 128px;
}

.main-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.image-container {
    display: flex;
    flex: auto;
}

.button, .button2{
    height: 48px;
    width: 96px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 24px;
    border-radius: 8px;
    border-width: 0;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    margin-top: 64px;
    margin-bottom: 128px;
}

.information {
    font-size: 36px;
    font-weight: bolder;
}

.mid-container {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.icon-img {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.subtext-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-top: 128px;
    margin-left: 256px;
    margin-right: 256px;
}

.quote-name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 128px;
    align-self: flex-end;
    margin-right: 256px;
}

.quote-container{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: -8px;
}

.sign-up-container {
    display: flex;
    background-color: #3882f6;
    margin-left: 128px;
    margin-right: 128px;
    border-radius: 8px;
    padding: 32px;
    align-items: center;
    justify-content: space-between;
}

.bold-text {
    font-weight: 700;
}

.sign-text {
    color: #e5e7eb;
    font-size: 18px;
}

.button2 {
    border-color: #e5e7eb;
    border-width: 2px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding: 48px;
    margin: -8px;
}