html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: auto;
    background-color: #1f2937;
    margin: -8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 256px;
    margin-right: 256px;
    margin-top: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-left: 256px;
    margin-right: 256px;
    margin-bottom: 128px;
}

.main-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.image-container {
    display: flex;
    flex: auto;
}

.button {
    height: 48px;
    width: 96px;
    background-color: #3882f6;
    color: #f9faf8;color;
    font-size: 24px;
    border-radius: 8px;
    border-width: 0;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    margin-top: 64px;
    margin-bottom: 128px;
}

.information {
    font-size: 36px;
    font-weight: bolder;
}

.mid-container {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.icon-img {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.subtext-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}
